footer {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-size: 14px;
  

    span {
        color: #fff;
    }

    button {
        background: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-size: 14px;
        margin-right: 10px;

        &:hover {
            color:#5D98FC;
        }
    }
}