.todoList{
    background-color: rgb(109, 106, 106);
    width: 600px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todoList li{
    color: #fff;
    list-style-type: none;
}

.todoList li{
    border-bottom: 1px solid #fff;
}

.bottom-list{
    display: flex;
  
    gap: 50px;
}

.bottom-list span{
    color: #fff;
    cursor: pointer;
}

.bottom-list span:hover{
    color: #ff6437;
}